
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pub Detail</title>
    <style>
        #map {
            width: 85%;
            height: 350px;
        }
    </style>
</head>
<body>
<h1>맛집(술) 글 상세페이지</h1>
<div>
    <h2 th:text="${pub.title}">제목</h2>
    <p>작성일: <span th:text="${pub.createdAt}"></span></p>

    <p th:text="${pub.content}">내용</p>

    <div id="map"></div>

    <script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=da146a2a6ff6a54903c1d2a7caecd1c7"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener('DOMContentLoaded', function() {
            // Thymeleaf를 사용하여 서버 측에서 lat와 lng 값을 설정
            const lat = /*[[${pub.lat}]]*/ 33.450701;
            const lng = /*[[${pub.lng}]]*/ 126.570667;

            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(lat, lng), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            // 마커가 표시될 위치입니다
            var markerPosition  = new kakao.maps.LatLng(lat, lng);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                position: markerPosition
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);
        });

        function sendVote(url) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    document.getElementById('upvotes').innerText = response.upvotes;
                    document.getElementById('downvotes').innerText = response.downvotes;
                }
            };
            xhr.send();
        }

        function upvote() {
            var pubId = /*[[${pub.id}]]*/ 0;
            var url = '/pubs/' + pubId + '/upvote';
            sendVote(url);
        }

        function downvote() {
            var pubId = /*[[${pub.id}]]*/ 0;
            var url = '/pubs/' + pubId + '/downvote';
            sendVote(url);
        }
        /*]]>*/
    </script>
    <p>위도: <span th:text="${pub.lat}"></span></p>
    <p>경도: <span th:text="${pub.lng}"></span></p>

    <p>추천: <span id="upvotes" th:text="${upvotes}">0</span></p>
    <p>비추천: <span id="downvotes" th:text="${downvotes}">0</span></p>

    <div>
        <!-- 이미지 보이게 하기 each로 반복문, 타임리프에서는 th 다음으로 보기 -->
        <div th:each="fileInfo : ${pub.fileInfos}">
            <img th:src="@{|/download?fileId=${fileInfo.id}|}" style="max-width: 100px; max-height: 100px;">
        </div>
    </div>
</div>

<!--추천 비추천-->
<div>
    <button type="button" onclick="upvote()">추천</button>
    <button type="button" onclick="downvote()">비추천</button>
</div>

<!-- 댓글 목록 -->
<h2>댓글</h2>
<ul>
    <li th:each="comment : ${comments}">
        <p th:text="${comment.comment}"></p>
        <form th:action="@{/pubs/{pubId}/comment/{commentId}/delete(pubId=${pub.id}, commentId=${comment.id})}" method="post">
            <button type="submit">삭제</button>
        </form>
    </li>
</ul>

<!-- 댓글 작성 폼 -->
<form th:action="@{/pubs/{id}/comment(id=${pub.id})}" method="post">
    <textarea name="comment" rows="4" cols="50"></textarea>
    <button type="submit">댓글 추가</button>
</form>

<a th:href="@{/pubs/{id}/edit(id=${pub.id})}">수정</a>
<form th:action="@{/pubs/{id}/delete(id=${pub.id})}" method="post">
    <button type="submit">삭제</button>
</form>
<a th:href="@{/pubs/list}">목록으로 돌아가기</a>
</body>
</html>