<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pub Detail</title>
    <style>
        #map {
            width: 85%;
            height: 350px;
        }
    </style>
</head>
<body>
<h1>맛집(술) 글 상세페이지</h1>
<div>
    <h2 th:text="${pub.title}">제목</h2>
    <p>작성일: <span th:text="${pub.createdAt}"></span></p>

    <p th:text="${pub.content}">내용</p>

    <div id="map"></div>

    <script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=da146a2a6ff6a54903c1d2a7caecd1c7"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        document.addEventListener('DOMContentLoaded', function() {
            const lat = /*[[${pub.lat}]]*/ 33.450701;
            const lng = /*[[${pub.lng}]]*/ 126.570667;

            var mapContainer = document.getElementById('map'),
                mapOption = {
                    center: new kakao.maps.LatLng(lat, lng),
                    level: 3
                };

            var map = new kakao.maps.Map(mapContainer, mapOption);

            var markerPosition = new kakao.maps.LatLng(lat, lng);

            var marker = new kakao.maps.Marker({
                position: markerPosition
            });

            marker.setMap(map);
        });

        function sendVote(url) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    document.getElementById('upvotes').innerText = response.upvotes;
                    document.getElementById('downvotes').innerText = response.downvotes;
                    alert(response.message);
                }
            };
            xhr.send();
        }

        function upvote() {
            var pubId = /*[[${pub.id}]]*/ 0;
            var url = '/pubs/' + pubId + '/upvote';
            sendVote(url);
        }

        function downvote() {
            var pubId = /*[[${pub.id}]]*/ 0;
            var url = '/pubs/' + pubId + '/downvote';
            sendVote(url);
        }
        function addComment(event) {
            event.preventDefault();
            const pubId = document.querySelector('#pubId').value;
            const commentText = document.querySelector('#comment').value;

            fetch('/pubs/' + pubId + '/comment', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    comment: commentText
                })
            })
                .then(response => {
                    return response.json().then(data => {
                        if (!response.ok) {
                            alert(data.message);
                            if (response.status === 403) {
                                window.location.href = '/jmt/signin'; // 로그인 페이지로 리다이렉트
                            }
                            throw new Error(data.message);
                        }
                        return data;
                    });
                })
                .then(data => {
                    alert(data.message);
                    const commentsList = document.querySelector('ul');
                    const newComment = document.createElement('li');
                    newComment.textContent = commentText;
                    commentsList.appendChild(newComment);
                    document.querySelector('#comment').value = '';
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
        /*]]>*/
    </script>
    <p>위도: <span th:text="${pub.lat}"></span></p>
    <p>경도: <span th:text="${pub.lng}"></span></p>

    <p>추천: <span id="upvotes" th:text="${upvotes}">0</span></p>
    <p>비추천: <span id="downvotes" th:text="${downvotes}">0</span></p>

    <div>
        <div th:each="fileInfo : ${pub.fileInfos}">
            <img th:src="@{|/download?fileId=${fileInfo.id}|}" style="max-width: 100px; max-height: 100px;">
        </div>
    </div>
</div>

<div>
    <button type="button" onclick="upvote()">추천</button>
    <button type="button" onclick="downvote()">비추천</button>
</div>

<h2>댓글</h2>
<ul>
    <li th:each="comment : ${comments}">
        <p th:text="${comment.comment}"></p>
        <form th:action="@{/pubs/{pubId}/comment/{commentId}/delete(pubId=${pub.id}, commentId=${comment.id})}" method="post">
            <button type="submit">삭제</button>
        </form>
    </li>
</ul>

<form th:action="@{/pubs/{id}/comment(id=${pub.id})}" method="post" onsubmit="addComment(event)">
    <textarea id="comment" name="comment" rows="4" cols="50"></textarea>
    <input type="hidden" id="pubId" th:value="${pub.id}">
    <button type="submit">댓글 추가</button>
</form>

<a th:href="@{/pubs/{id}/edit(id=${pub.id})}">수정</a>
<form th:action="@{/pubs/{id}/delete(id=${pub.id})}" method="post">
    <button type="submit">삭제</button>
</form>
<a th:href="@{/pubs/list}">목록으로 돌아가기</a>
</body>
</html>