.pagination {
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: 1vw;
    margin-bottom: 1vw;
    list-style: none;
    border-radius: 0.25rem;
}

.page-item {
    margin: 0 3px;
}

.page-item.disabled .page-link {
    pointer-events: none;
    cursor: not-allowed;
    color: gray;
    background-color: #e9ecef;
    border-color: black;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-link {
    position: relative;
    display: block;
    color: black;
    text-decoration: none;
    background-color: #fff;
    border: 0.15vw solid black;
        border-radius: 0.8vw;
    padding: 0 1vw;
    margin-left: -1px;
    /* line-height: 1.25; */
}