<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meal List</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1>맛집(밥) 글 리스트</h1>
<table>
    <thead>
    <tr>
        <th>제목</th>
        <th>내용</th>
        <th>작성일</th>
        <th>수정일</th>
        <th>위도</th>
        <th>경도</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="meal : ${meals}">
        <td><a th:href="@{/meals/{id}(id=${meal.id})}" th:text="${meal.title}"></a></td>
        <td th:text="${meal.content}"></td>
        <td th:text="${#temporals.format(meal.createdAt, 'yyyy.MM.dd HH:mm')}"></td>
        <td th:text="${#temporals.format(meal.updatedAt, 'yyyy.MM.dd HH:mm')}"></td>
        <td th:text="${meal.lat}"></td>
        <td th:text="${meal.lng}"></td>


    </tr>

    </tbody>




</table>

<script>
    function search() {
        const search = document.querySelector('[name=search]');
        location = `/meals/list?search=${search.value}`;
    }

    document.querySelector('#write-btn').addEventListener('click', () => {
        location = '/meals/write';
    });
</script>

<ul class="pagination">
    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
        <a class="page-link" th:href="@{|/meals/list?page=${currentPage - 1}|}">Previous</a>
    </li>

    <li class="page-item"
        th:each="page : ${#numbers.sequence(startPage, endPage)}">
        <a class="page-link" th:href="@{|/meals/list?page=${page}|}"
           th:text="${page}"></a>
    </li>

    <li class="page-item" th:classappend="${currentPage == totalPage} ? 'disabled'">
        <a class="page-link" th:href="@{|/meals/list?page=${currentPage + 1}|}">Next</a>
    </li>

    <form th:action="@{/meals/list}" method="get">
        <input type="text" name="search" th:value="${search}" placeholder="Search..."/>
        <button type="submit">Search🔍</button>
    </form>

</ul>

<a href="/meals/write">글작성</a>

</body>
</html>