<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새로운 비밀번호 설정</title>
    <script>
        function validatePassword() {
            const password = document.getElementById("newPassword").value;
            const passwordPattern = /(?=.*[0-9])(?=.*[a-zA-Z])(?=.*\W)(?=\S+$).{8,20}/;

            if (!passwordPattern.test(password)) {
                alert("비밀번호는 영문 대,소문자와 숫자, 특수기호가 적어도 1개 이상씩 포함된 8자 ~ 20자의 비밀번호여야 합니다.");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <h2>새로운 비밀번호 설정</h2>
    <form action="/jmt/saveNewPassword" method="post" onsubmit="return validatePassword()">
        <input type="hidden" name="email" value="${email}">
        <label for="newPassword">새로운 비밀번호:</label><br>
        <input type="password" id="newPassword" name="newPassword" required><br><br>
        <button type="submit">비밀번호 저장</button>
    </form>
</body>
</html>
